    <app-site-nav />
    <main class="wrap" id="main-content" tabindex="-1">
      <app-wizard-back [label]="copy.detailsBackLabel" [link]="'/estimate/scope'" [step]="2" />
      <app-wizard-steps [current]="3" />
      @if (property(); as p) {
        <app-property-card [property]="p" />
        <dl class="inputs">
          <div>
            <dt>{{ copy.detailsLivingArea }}</dt>
            <dd>{{ inputs().sqft.toLocaleString('en-CA') }} sq ft</dd>
          </div>
          <div>
            <dt>{{ copy.detailsFinishTier }}</dt>
            <dd class="cap">{{ inputs().tier }}</dd>
          </div>
          <div>
            <dt>{{ copy.detailsGarage }}</dt>
            <dd>{{ garageName() }}</dd>
          </div>
          <div>
            <dt>{{ copy.detailsBasement }}</dt>
            <dd>{{ basementName() }}</dd>
          </div>
        </dl>
        <a class="cta" routerLink="/estimate/preview">{{ copy.detailsPreviewCta }}</a>
      } @else {
        <div class="empty">
          <p>{{ copy.detailsEmpty }}</p>
          <a routerLink="/">{{ copy.detailsEmptyCta }}</a>
        </div>
      }
    </main>
    <app-site-footer />
